version: "3.9"

services:
  server:
    build: ./server
    ports:
      - "4000:4000"
    env_file:
      - ./server/.env

  client:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - server
